@model Mars_Store.Models.Entities.NHOMTIN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NHOMTIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tennhomtin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tennhomtin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_NHOM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
